<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MOOClite" %></title>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="kaltura-html5player-widget/skins/jquery.ui.themes/jquery-ui-1.7.2.custom.css"></link>
    <link rel="stylesheet" href="kaltura-html5player-widget/mwEmbed-player-static.css"></link>
    <script type="text/javascript" src="kaltura-html5player-widget/mwEmbed-player-static.js"></script>
  </head>

  <body>

    <%= yield %>

  </body>
</html>